ENV/Dev/.terraform/providers/registry.terraform.io/hashicorp/aws/3.63.0/linux_amd64/terraform-provider-aws_v3.63.0_x5
ENV/Dev2/.terraform/providers/registry.terraform.io/hashicorp/aws/3.63.0/linux_amd64/terraform-provider-aws_v3.63.0_x5
ENV/Dev3/.terraform/providers/registry.terraform.io/hashicorp/aws/3.63.0/linux_amd64/terraform-provider-aws_v3.63.0_x5
Research/testing/.terraform/providers/registry.terraform.io/hashicorp/aws/3.63.0/linux_amd64/terraform-provider-aws_v3.63.0_x5
Research/test/.terraform/providers/registry.terraform.io/hashicorp/aws/3.63.0/linux_amd64/terraform-provider-aws_v3.63.0_x5
ENV/Dev_automated/.terraform/providers/registry.terraform.io/hashicorp/aws/3.63.0/linux_amd64/terraform-provider-aws_v3.63.0_x5
ENV/Dev_automated/.terraform/providers/registry.terraform.io/hashicorp/aws/3.63.0/windows_amd64/terraform-provider-aws_v3.63.0_x5.exe
ENV/Dev_automated/.terraform/providers/registry.terraform.io/hashicorp/google/3.89.0/linux_amd64/terraform-provider-google_v3.89.0_x5
jungle_restructured/ENV/DEV/.terraform/providers/registry.terraform.io/hashicorp/aws/3.63.0/linux_amd64/terraform-provider-aws_v3.63.0_x5
jungle_restructured/ENV/DEV/.terraform/providers/registry.terraform.io/hashicorp/aws/3.63.0/windows_amd64/terraform-provider-aws_v3.63.0_x5.exe
jungle_restructured/ENV/ex03/.terraform/providers/registry.terraform.io/hashicorp/aws/3.63.0/windows_amd64/terraform-provider-aws_v3.63.0_x5.exe
jungle_restructured/ENV/ex05/.terraform/providers/registry.terraform.io/hashicorp/aws/3.65.0/linux_amd64/terraform-provider-aws_v3.65.0_x5
Research/testing/prevent_destroy/.terraform/providers/registry.terraform.io/hashicorp/aws/3.63.0/windows_amd64/terraform-provider-aws_v3.63.0_x5.exe
jungle_restructured/ENV/DEV/.terraform/modules/modules.json
Research/testing/provider_configuration/.terraform/modules/modules.json
Research/testing/provider_configuration/.terraform.lock.hcl
Research/testing/provider_configuration/main.tf
Research/testing/provider_configuration/providers.tf
Research/testing/provider_configuration/terraform.tfstate
Research/testing/provider_configuration/terraform.tfstate.backup
Research/testing/provider_configuration/test.py
Research/testing/tfstate_check/.terraform.lock.hcl
Research/testing/tfstate_check/main.tf
Research/testing/tfstate_check/providers.tf
Research/testing/tfstate_check/variables.tf
Research/testing/tfstate_check/.terraform/modules/modules.json
Research/testing/tfstate_check/ap-south-1/terraform.tfstate
Research/testing/tfstate_check/ap-south-1/terraform.tfstate.backup
Research/testing/tfstate_check/us-east-1/terraform.tfstate
Research/testing/tfstate_check/us-east-1/terraform.tfstate.backup
Research/testing/prevent_destroy/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Research/testing/prevent_destroy/.terraform/modules/modules.json
Research/testing/prevent_destroy/.terraform.lock.hcl
Modules/NETWORK/.terraform.lock.hcl
jungle_restructured/ENV/ex05/.terraform/modules/modules.json
jungle_restructured/ENV/ex05/.terraform.lock.hcl
ENV/Dev3/.terraform/modules/modules.json
ENV/Dev/.terraform/modules/modules.json
ENV/Dev_automated/.terraform/modules/modules.json
ENV/Dev2/.terraform/modules/modules.json
jungle_restructured/ENV/ex03/.terraform/modules/modules.json
